<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shiro.mapper.RoleMapper">

  <select id="getRolesByUserName" resultType="java.lang.String">
    select `explain` FROM uar a JOIN `user` u ON u.id=a.uid JOIN role r ON a.rid=r.rid WHERE u.username=#{username}
  </select>
  <insert id="addUserRoles">
    INSERT INTO uar(`uid`,`rid`)values
    <foreach collection="roles" item="rid" separator=",">
      (#{uid},#{rid})
    </foreach>
  </insert>
</mapper>